# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Bakhus bot

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/requirements.txt')-${{ hashFiles('requirements/dev.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements/common.txt ]; then pip install -r requirements/common.txt; fi
        if [ -f requirements/dev.txt ]; then pip install -r requirements/dev.txt; fi
    - name: Check code formatting with black
      run: |
        python -m black ./app
    - name: Static types check with mypy
      run: |
        python -m mypy ./app
    - name: Static security check with bandit
      run: |
        python -m bandit ./app